/*********************************************************
ABOUT STYLE
**********************************************************/  

:root {
  --max-width: 300px;
}

.section-wrapper {
    position: relative;
    height: 100%;
    width: 100%;
    padding: 0 .1rem;
    transition: all 1s ease-in;
    z-index: 90;
  }
  
  
  .card-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: inherit;
    width: 100%;
    padding: 0;
    transition: all 1s ease-in-out;
  }
  
  .js {
    fill-opacity:0.11640212;
    stroke-width:7.20439;stroke-dasharray:none;stroke-opacity:1;opacity:1
  }
  
  .react {
    stroke-width:0.3;
    stroke-opacity:1;
    
  }
  
  .node {
    padding: 0 4px;
    fill-opacity: 0;
    stroke-width:0.3;
  }
  
  .node2 {
    stroke-width: 0.2
  }
  
  .dev-icon {
    width: 7rem;
    height: 7rem;
    order: 1;
    // flex-grow: 4;
    
  }
  
  .headline-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    position: relative;
    /* padding: 0 60px; */
    overflow: hidden;
  }
  
  .headline-wrapper h2 {
    font-family: var(--main-outline-font);
    font-size: 1.6em;
    order: 1;
    color: white;
    text-align: center;
    width: 0;
  }
  
  .details-wrapper {
    max-height: 1px;
    max-width: 1px;
    opacity: 0;
    background: none;
  }
  
  .about-card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    // height: 15rem;
    // max-width: 600px;
    margin-bottom: 4rem;
    transition: all 1s ease-in;
    -webkit-transition: all 1s ease-in;
    -moz-transition: all 1s ease-in;
    -ms-transition: all 1s ease-in;
    -o-transition: all 1s ease-in;
    z-index: 99;
  }
  
  .about-card > .headline-wrapper {
    justify-content: space-evenly;
    
  }
  
  .about-card > .headline-wrapper h2 {
    margin: 0;
    opacity: 1;
    animation: headlineGrow 1s ease-in 3s forwards ;
    -webkit-animation: headlineGrow 1s ease-in 3s forwards ;
  }
  

  .about-card > .details-wrapper {
    color: white;
    margin-top: 2rem;
    padding: 0 .5rem 1rem .5rem;
    max-width: 0;   
    opacity: 0;
    -webkit-box-shadow: inset 0px 0px 2px -2px rgba(255,255,255,1);
    -moz-box-shadow: inset 2px -2px 0px 0px rgba(255,255,255,1);
    box-shadow: inset 0px 0px -2px 0px rgba(255,255,255,1);
    animation: showDetails 1s ease-in-out 3s 1 normal forwards;
    -webkit-animation: showDetails 6s ease-in-out 3s 1 normal forwards;
    order: 2;
  }
  
  @keyframes showDetails {
    0% {
      opacity: 0;
      max-width: 0;
      max-height: 0;
      background: none;
    }
    50% {
      opacity: 0;
      max-width: var(--max-width);
      max-height: 700px;
      padding: 1rem;
    }
    100% {
      max-width: var(--max-width);
      max-height: 700px;
      padding: 1rem;
      opacity: 1;
      // background: rgba(179, 187, 193, 0.9);
    }
  }
  
  .details {
    margin: 0;
    padding: 0 .5rem;
    font-size: larger;
  }

  .line {
    
    position: absolute;
    top: 2rem;
    left: 6rem;
    stroke-width:0.3;
    stroke-opacity:1;
    padding-bottom: 1rem;
    width: 70%;
  }

  
  /*******************************************
  MEDIA QUERIES
*******************************************/

// @media (hover:hover)  {
//   .about-card:hover svg path,
//   .about-card:hover {
//     stroke: #ffffff;
//     fill: #ffffff;
//     fill-opacity: 1;
//   }
// }

@media screen and ( min-width: 750px ) {

  :root {
    --max-width: 600px;
  }

  .section-wrapper {
    width: 80%;
  }

  .dev-icon {
    width: 9rem;
    height: 9rem;
  }

  .details-wrapper {
    max-width: 600px;
  }

  .details {
    font-size: 1.5rem;
  }
}

@media screen and ( min-width: 500px ) and (orientation: landscape) {

  
  .about-card {
    position: relative;
    left: 0;
    top: 0;
  }

  
}



  