/*********************************************************
NAV BUTTON STYLE
**********************************************************/
.nav-button {
    border: 10px black;
    display: inline-block;
    height: 50px;
    width: 50px;
    margin: 5px 20px 5px 0;
    position: fixed;
    bottom: 0;
    right: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    z-index: 98;
  }

  .nav-button span {
    display: block;
    position: absolute;
    height: 4px;
    width: 40px;
    /*border-radius: 9px;
    */opacity: 1;
    left: 10px;
    animation: blink 1s ease-in-out infinite ;
    -webkit-animation: blink 1s ease-in-out infinite ;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}
  
  @keyframes blink {

    0% {
      background-color: black;
    }
    100% {
      background-color: white;
    }
  }

  .nav-button span:nth-child(1) {
    top: 15px;
  }
  .nav-button span:nth-child(2),
  .nav-button span:nth-child(3) {
    top: 25px;
  }
  .nav-button span:nth-child(4) {
    top: 35px;
  }

  .nav-button.open span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
  }
  
  .nav-button.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  
  .nav-button.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  
  .nav-button.open span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
  }

  /*********************************************************
NAVBAR STYLE
**********************************************************/


.navSection {
  z-index: 4;
  background-size: 100% 3px, 6px 100%;
  position: fixed;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  height: 100%;
  max-height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  top: 0;
  pointer-events: none;
  mix-blend-mode: difference;
  transform: translateY(100%);
  -webkit-transform: translateY(100%);
  -moz-transform: translateY(100%);
  -ms-transform: translateY(100%);
  -o-transform: translateY(100%);
  transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -ms-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
}

.mobileShow {
  background: url('../img/grain2.png'), rgba(76, 72, 72, 0.523);
  backdrop-filter: blur(10px);
  transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -ms-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
}


.blur {
  position: absolute;
}

.nav-link {
  font-family: var(--main-outline-font);
  // font-weight: bolder;
  -webkit-text-size-adjust: 100%;
  text-align: center;
  // text-shadow: 3px 2px 2px black;
  /* opacity: 0; */
  color: white;
  // padding: 3rem 0;
  pointer-events: all;
}



.navSection h1 {
  
  font-size: 1.2rem;
  color: white;
}

.navSection h1:hover {
  transform: scale(1.1);
  transition: all .5s ease;
  /* animation: distort 1s infinite alternate-reverse; */
  cursor: pointer;
}

.item-show {
  opacity: 1;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  max-height: 100vh;
  z-index: -99;
}


/*******************************************
  MEDIA QUERIES
*******************************************/

@media screen and ( min-width: 760px ) {

  .nav-button {
    display: none;
  }

  .navSection {
    border-left: 1px solid rgba(255,255,255,1);
    width: 20%;
    right: 0;
    top: 27%;
    height: 400px;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transition: transform .4s ease-in-out;
    -webkit-transition: transform .4s ease-in-out;
    -moz-transition: transform .4s ease-in-out;
    -ms-transition: transform .4s ease-in-out;
    -o-transition: transform .4s ease-in-out;
}

}