


  
  @keyframes headlineGrow {
    0% {
      max-height: 0;
      width: 0;
      opacity: 0;
    }
    100% {
      width: auto;
      opacity: 1;
    }
  }
  
  @keyframes feedback {
    0%, 4%, 9% {
      mask-size: 1px 1px;
      background: url('../img/sillouette_blue.png') bottom no-repeat,#d4d4d4;
      transform: translateX(-2rem);
      background-size: contain;
    }
    1% ,5%, 8%{
      
      /* transform: skew(-2deg, 0) translateX(1rem); */
      
    }
    2%, 6% {
      /* transform: skew(2deg, 1deg) translateX(-1rem); */
    }
    3%, 7%, 12% {
      mask-size: 1px 1px;
      background: url('../img/sillouette_red.png') bottom no-repeat,#d4d4d4;
      transform: translateX(2rem);
      background-size: contain;
    }
    5%,10% {
      mask-size: 10px 13px;
    }
   
    13% {
      mask-size: 1px 1px;
      transform: skew(0);
      background: url("../img/IMG_1840.jpg") bottom no-repeat,#d4d4d4;
    background-size: contain;
    }
  }