@font-face {
  font-family: 'oswaldreg';
  src: url('./fonts/oswald_font/oswald-regular-webfont.woff'); 
  font-weight: normal;
}
@font-face {
  font-family: 'oswaldbold';
  src: url('./fonts/oswald_font/oswald-bold-webfont.woff');
}
@font-face {
  font-family: 'electronica_display_outline';
  src: url('./fonts/electronica_displayoutline_macroman/electronica_display_outline-webfont.woff') format('woff2'),
       url('./fonts/electronica_displayoutline_macroman/electronica_display_outline-webfont.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'electronica_display_solid';
  src: url('./fonts/electronica_displaysolid_macroman/electronica_display_solid-webfont.woff') format('woff2'),
       url('./fonts/electronica_displaysolid_macroman/electronica_display_solid-webfont.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
}

:root {
  --main-outline-font: 'electronica_display_outline', sans-serif;
  --main-solid-font: 'electronica_display_solid', sans-serif;
  --screen-width: 100vw;
}

/********************************************************
MAIN ELEMENT STYLES
*********************************************************/
*{
  overflow: hidden;
}

h1, h2, h3, h6 {
  font-family: var(--main-outline-font);
    color: black;
}

p {
  font-family: 'oswaldreg', sans-serif;
  margin: 0;

}
a {
    color: inherit;
    text-decoration: none;
  }

a:visited {
    text-decoration: none;
}

a:hover {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

ul {
  list-style: none;
}

header {
    background-color: black;
    margin: 0 auto;
    position: relative;
    height: 100vh; 
    width: 100%;
    max-height: 100vh;
}  

body {
    background-color: black;
}


footer {
  flex-shrink: 0;
  position: relative;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  }
.App {
  perspective: 1000px;
}
.home-exit-animation {
  transform-origin: left;
}

  .wrapper {
      display: flex;
      flex-direction: column;
  }

  .content {
    flex: 1 0 auto;
  }

  .section {
    margin: 9rem 1rem;
  }

/*********************************************************
HOME STYLE
**********************************************************/

.home-container {
  background-color: #d4d4d4;
  position: relative;
  height: 100vh;
  z-index: -96;
  perspective: 1200px;
}

.home-container[data-aboutActive="true"] {
  transform: translateX(-50%);
}

.home-container[data-aboutActive="true"] > .body {
  filter: blur(20px);
}

.body {
  background: url("../img/IMG_1840.jpg") bottom no-repeat,#d4d4d4 ;
  background-size: contain;
  position: absolute;
  mask-image: url('../img/cube.svg');
  mask-position: top;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /*height: 100%;
  */width: 100%;
  max-height: 100vh;
  z-index: -97;
  animation: project-mask 7s ease-in forwards 1, feedback 3s ease-in 1s alternate-reverse infinite;
  -webkit-animation: project-mask 7s ease-in forwards 1, feedback 3s ease-in 1s alternate-reverse infinite;
} 

.logo-container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  align-items: baseline;
  z-index: 2;
  margin-top: 1rem;
}

.logo {

  /* max-width: 105px;
  max-height: 100px; */
  margin: 0 auto;
}

.name {
  width: 100%;
  font-size:74.6667px;
  font-family:'Electronica Display Outline';
  -inkscape-font-specification:'Electronica Display Outline';
  opacity:1;
  stroke-opacity:1;
  stroke-width: 1px;
  z-index: 2;
  
}

.noyes {
  opacity: 0;
  animation: logoShift .5s ease-in;
  -webkit-animation: logoShift .5s ease-in;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  animation-delay: 2.3s;
  -webkit-animation-delay: 2.3s;
  
}

@keyframes logoShift {
  0% {
    opacity:0
  }
  100% {
    opacity: 1;
  }
}

.sillouette {
  background: url('../img/sillouette2.png') bottom no-repeat;
  background-size: contain;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  max-height: 100vh;
  z-index: -97;
  animation: shadow 7s ease-in forwards 1;
  -webkit-animation: shadow 7s ease-in forwards 1;
}

@keyframes shadow {
  0% {
    transform: translateX(-70%);
    -webkit-transform: translateX(-70%);
    -moz-transform: translateX(-70%);
    -ms-transform: translateX(-70%);
    -o-transform: translateX(-70%);
}

2% {
  transform: translateX(0);
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
}
9%{
  transform: translateX(0);
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
}
  10% {
    transform: translateX(80%);
    -webkit-transform: translateX(80%);
    -moz-transform: translateX(80%);
    -ms-transform: translateX(80%);
    -o-transform: translateX(80%);
}
11%{
  transform: translateX(0);
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
}
12% {
  transform: translateX(-0.5rem);
}
13% {
  transform: translateX(0.2rem);
}
14% {
  transform: translateX(-0.1rem);
}
15% {
  transform: translateX(0.1rem);
}
16% {
  transform: translateX(0);
}
}

.grain {
  background: url('../img/grain2.png') repeat;
  background-size: 200%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

}

.overlay2 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('../img/pattern2.png') repeat top left;
  background-size: 3px;
  opacity: 0.9;
  z-index: 0;
}

.home-container[data-aboutActive="true"] > .name {
  opacity: 0 !important;
}

/*********************************************************
NAVBAR STYLE
**********************************************************/


.navSection {
  background: rgb(212, 212, 212, 0.5);
  backdrop-filter: blur(10px);
	z-index: 3;
	background-size: 100% 3px, 6px 100%;
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 0;
  right: -100%;
  height: 100%;
  max-height: 100vh;
  width: 0;
  margin: 0;
  transition: all 1s cubic-bezier(0.83, 0, 0.17, 1); 
}

.menu-show {
  right: 0;
  width: 100%;
}

.nav-link1,
.nav-link2,
.nav-link3 {
  font-family: var(--main-outline-font);
  font-weight: bolder;
  text-align: center;
  text-shadow: 3px 2px 2px black;
  /* opacity: 0; */
  color: black;
  padding: 1rem 0;
}

.nav-link1::before,
.nav-link2::before,
.nav-link3::before {
 content: attr(data-label);
 position: absolute;
 transform: translateY(-2px);
 color: white;
 /*padding: 2rem;
 */width: 2rem;
 -webkit-transform: translateY(-2px);
 -moz-transform: translateY(-2px);
 -ms-transform: translateY(-2px);
 -o-transform: translateY(-2px);
}

.nav-link1:hover,
.nav-link2:hover,
.nav-link3:hover {
  transform: scale(1.1);
  font-family: var(--main-solid-font);
  transition: all.5s ease;
  /* animation: distort 1s infinite alternate-reverse; */
  cursor: pointer;
}

.item-show {
  opacity: 1;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  max-height: 100vh;
  z-index: -99;
}


/*********************************************************
NAV BUTTON STYLE
**********************************************************/
.nav-button {
    border: 10px black;
    display: inline-block;
    height: 50px;
    width: 50px;
    margin: 5px 20px 0 0;
    position: fixed;
    bottom: 0;
    right: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    z-index: 5;
  }

  .nav-button span {
    display: block;
    position: absolute;
    height: 4px;
    width: 40px;
    background: white;
    /* border-radius: 9px; */
    opacity: 1;
    left: 10px;
    
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
  }
  
  .nav-button span:nth-child(1) {
    top: 15px;
  }
  .nav-button span:nth-child(2),
  .nav-button span:nth-child(3) {
    top: 25px;
  }
  .nav-button span:nth-child(4) {
    top: 35px;
  }

  .nav-button.open span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
  }
  
  .nav-button.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  
  .nav-button.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  
  .nav-button.open span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
  }


/*********************************************************
BACKDROP STYLES
**********************************************************/

.backdrop-2a,
.backdrop-3a {
  background: url('../img/grain.png') center repeat, url('../img/wallOverlay2.svg') top repeat;
  background-size: 50%;
  position: absolute;
  height: 100vh;
  width: 100%;
  transform:rotateY(-40deg);
  transform-style: preserve-3d;
  z-index: -98;
  overflow: visible;
  -webkit-transform:rotateY(-40deg);
  -moz-transform:rotateY(-40deg);
  -ms-transform:rotateY(-40deg);
  -o-transform:rotateY(-40deg);
}

.backdrop-2a {
  animation: blinds 2s ease-in-out;
  animation-iteration-count: 1;
  -webkit-animation: blinds 2s ease-in-out;
  
}

.backdrop-3a {
  animation: blinds2 2s ease-in-out;
  -webkit-animation: blinds2 2s ease-in-out;
  background-size: 10% 2%;
  transform: rotateY(0) rotateX(-75deg) translateY(-50%);
  -webkit-transform: rotateY(0) rotateX(-75deg) translateY(-50%);
  -moz-transform: rotateY(0) rotateX(-75deg) translateY(-50%);
  -ms-transform: rotateY(0) rotateX(-75deg) translateY(-50%);
  -o-transform: rotateY(0) rotateX(-75deg) translateY(-50%);
}

.backdrop-2b,
.backdrop-3b {
  background: url('../img/IMG_1840.jpg') bottom no-repeat, #d4d4d4;
  background-size: contain;
  mask-position: top;
  mask-repeat: repeat;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  /*transform-style: preserve-3d;
  */z-index: -97;
  
}

.backdrop-2b {
  mask-image: url('../img/wallOverlay.svg');
  animation: mask 4s ease-in-out forwards ;
  -webkit-animation: mask 4s ease-in-out forwards ;
}

.backdrop-3b {
  background-size: 200%;
  transform: rotateY(0) rotateX(50deg);
  mask-image: url('../img/cube.svg');
  mask-position: top;
  mask-size: 19px 9px;
  animation: mask2 2s ease-in forwards;
  -webkit-animation: mask2 2s ease-in forwards;
  -webkit-transform: rotateY(0) rotateX(50deg);
  -moz-transform: rotateY(0) rotateX(50deg);
  -ms-transform: rotateY(0) rotateX(50deg);
  -o-transform: rotateY(0) rotateX(50deg);
}

.reverse-animation {
  animation: blinds2 2s ease-in-out;
  -webkit-animation: blinds2 2s ease-in-out;
  animation-direction: reverse;
}

/*********************************************************
ABOUT STYLE
**********************************************************/  
.section-wrapper {
  background-color: #000000;
  position: relative;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  perspective: 1200px;
  overflow: hidden;
}





@keyframes blinds2 {
  0% {
    transform: rotateY(-40deg) rotateX(0) translateY(0);
    background-size: 50%;
    -webkit-transform: rotateY(-40deg) rotateX(0) translateY(0);
    -moz-transform: rotateY(-40deg) rotateX(0) translateY(0);
    -ms-transform: rotateY(-40deg) rotateX(0) translateY(0);
    -o-transform: rotateY(-40deg) rotateX(0) translateY(0);
}
  100% {
    background-size: 10%;
    transform: rotateY(0) rotateX(-75deg) translateY(-50%);
    -webkit-transform: rotateY(0) rotateX(-75deg) translateY(-50%);
    -moz-transform: rotateY(0) rotateX(-75deg) translateY(-50%);
    -ms-transform: rotateY(0) rotateX(-75deg) translateY(-50%);
    -o-transform: rotateY(0) rotateX(-75deg) translateY(-50%);
}
}



.reverse-animation2 {
  animation: mask2 4s ease-in forwards;
  -webkit-animation: mask2 4s ease-in forwards;
  animation-direction: reverse;
}

@keyframes mask {
  0% {
   mask-size: 2px 1px;
  }  
  30% {
  transform: rotateY(40deg);
  -webkit-transform: rotateY(40deg);
    -moz-transform: rotateY(40deg);
    -ms-transform: rotateY(40deg);
    -o-transform: rotateY(40deg);
  }
  100%{
    transform: rotateY(40deg);
    mask-size: 70px 1px;
    
  }
}

@keyframes mask2 {
  0%{
    
    mask-image: url('../img/wallOverlay.svg');
    mask-size: 70px 1px;
    transform: rotateY(40deg) translateX(0) scale(1);
    -webkit-transform: rotateY(40deg) translateX(0) scale(1);
    -moz-transform: rotateY(40deg) translateX(0) scale(1);
    -ms-transform: rotateY(40deg) translateX(0) scale(1);
    -o-transform: rotateY(40deg) translateX(0) scale(1);
}
50% {
  mask-image: url('../img/cube.svg');
}
100% {
  background-size: 100%;
  mask-size: 25px 4px;
  transform-origin: bottom;
  transform: rotateY(0) rotateX(90deg) scale(2);
  -webkit-transform: rotateY(0) rotateX(90deg) scale(2);
  -moz-transform: rotateY(0) rotateX(90deg) scale(2);
  -ms-transform: rotateY(0) rotateX(90deg) scale(2);
  -o-transform: rotateY(0) rotateX(90deg) scale(2);
}
}

.from-home h1 {
  position: absolute;
  top: 0;
  left:2%;
  color: #595454;
  font-size: 2em;
  text-align: center;
}

.card-wrapper {
  /* position: relative; */
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: space-around;
  /* max-width: 1500px; */
  /* margin: 0 auto; */
  height: 100vh;
  width: 100%;
  padding: 0;
  perspective: 1200px;
  transition: all 1s ease-in-out;
}

.js {
  fill:#ffffff;
  fill-opacity:0.11640212;
  stroke:#ffffff;
  stroke-width:7.20439;stroke-dasharray:none;stroke-opacity:1;opacity:1
}

.react {
  fill-opacity:1;
  stroke-width:0.3;
  stroke-opacity:1;
}

.node {
  padding: 0 4px;
}

.dev-icon {
  width: 10rem;
  height: 10rem;
  order: 2;

}

.card-wrapper li:nth-child(1) {
  top: 5%;
}

.card-wrapper li:nth-child(2) {
  top: 35%;
}

.card-wrapper li:nth-child(3) {
  top: 65%;
}

.about-card {
  /* backdrop-filter: blur(9px); */
  font-size: 1.4rem;
  position: absolute;
  /* justify-content: center; */
  right: 30%;
  left: 30%;
  z-index: -97;
  margin: 0 auto;
  /* background-color:rgba(108, 108, 108, 0.9); */
  cursor: pointer;
  
  
}

.about-card:hover {
  transform: rotate(0);
  transition: all .4s;
  -webkit-transition: all .4s;
  -moz-transition: all .4s;
  -ms-transition: all .4s;
  -o-transition: all .4s;
  -webkit-transform: rotate(0);
  -moz-transform: rotate(0);
  -ms-transform: rotate(0);
  -o-transform: rotate(0);
}

.headline-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;

}

.headline-wrapper h2 {
  font-family: var(--main-outline-font);
  font-size: 1.4em;
  order: 1;
  color: white;
  text-align: center;
  width: 0;
}

.details-wrapper {
  max-height: 1px;
  max-width: 1px;
  opacity: 0;
}

.about-card[data-openWebCard="true"][style],
.about-card[data-openUXCard="true"][style],
.about-card[data-openBackCard="true"][style] {
  backdrop-filter: blur(9px);
  background: rgba(0, 0, 0, 0.5);
  left: 0;
  right: 0;
  top: 10%;
  height: fit-content;
  z-index: 2;
  animation: hinge 2s ease-in;
  transition: top 1s ease-in 1s;
  -webkit-transition: top 1s ease-in 1s;
  -moz-transition: top 1s ease-in 1s;
  -ms-transition: top 1s ease-in 1s;
  -o-transition: top 1s ease-in 1s;
  -webkit-animation: hinge 2s ease-in;
}

@keyframes hinge {
  0% {
    backdrop-filter: blur(0);
    background: rgba(0, 0, 0, 0);
}
  100% {
    left:10%;
    right: 10%;
    backdrop-filter: blur(9px);
    background: rgba(0, 0, 0, 0.5);
  }
  
}

.about-card[data-openwebcard="true"] > .headline-wrapper,
.about-card[data-openuxcard="true"] > .headline-wrapper,
.about-card[data-openbackcard="true"] > .headline-wrapper {
  justify-content: space-around;
  
}

.about-card[data-openwebcard="true"] > .headline-wrapper h2,
.about-card[data-openuxcard="true"] > .headline-wrapper h2,
.about-card[data-openbackcard="true"] > .headline-wrapper h2 {
  margin: 0;
  opacity: 1;
  animation: headlineGrow 1s ease-in 1s 1 normal forwards ;
  -webkit-animation: headlineGrow 1s ease-in 1s 1 normal forwards ;
}

.about-card[data-openwebcard="true"] > .headline-wrapper svg,
.about-card[data-openuxcard="true"] >  .headline-wrapper svg,
.about-card[data-openbackcard="true"] > .headline-wrapper svg {
  width: 6rem;
  height: 6rem;
  padding: 1rem;
  animation: svgAnimate 1s ease infinite;
  transition: all .5s ease;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -ms-transition: all .5s ease;
  -o-transition: all .5s ease;
  -webkit-animation: svgAnimate 1s ease infinite;
}
@keyframes svgAnimate {
  0% {
    pathLength: 0;
  }
  100% {
    pathLength: 1;
  }
  
}

@keyframes headlineGrow {
  0% {
    max-height: 0;
    width: 0;
    opacity: 0;
  }
  100% {
    width: auto;
    opacity: 1;
  }
}

.about-card[data-openwebcard="true"] > .details-wrapper,
.about-card[data-openuxcard="true"] > .details-wrapper,
.about-card[data-openbackcard="true"] > .details-wrapper 
 {
  
  color: white;
  margin: 0 auto;
  padding: 0 .5rem 1rem .5rem;
  opacity: 1;
  animation: showDetails 1s ease-in-out 1s 1 normal forwards;
  -webkit-animation: showDetails 1s ease-in-out 1s 1 normal forwards;
}

@keyframes showDetails {
  0% {
    opacity: 0;
    max-width: 0;
    max-height: 0;
  }
  50% {
    opacity: 0;
    max-width: 500px;
    max-height: 700px;
    padding: 1rem;
  }
  100% {
    max-width: 500px;
    max-height: 700px;
    padding: 1rem;
    opacity: 1;
    
  }
}

.details {
  margin: 0;
  padding: 0 .5rem;
}

/*********************************************************
PORTFOLIO STYLE
**********************************************************/  

.portfolio-list {
  display: flex;
  flex-direction: column;
  justify-content:space-evenly;
  position: relative;
  right: 0;
  text-align: right;
  width: 100%;
  height: 100vh;
  padding: 0;
}

.portfolio-item {
  font-family: var(--main-outline-font);
  font-size: 2rem;
  padding: 2rem;
  cursor: pointer;
  color: #ffffff;
}


.project-name {
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
  opacity: 1;
}

.project-preview {
  position: absolute;
  opacity: 0;
  left: 10%;
  margin-right: 4rem;
  width: 30%;
}

.portfolio-list li:hover img {
 opacity: 1;
 transition: all .5s;
 -webkit-transition: all .5s;
 -moz-transition: all .5s;
 -ms-transition: all .5s;
 -o-transition: all .5s;
}

.portfolio-list span:hover {
  font-family: var(--main-solid-font);
  transform: translateX(-2rem);
  -webkit-transform: translateX(-2rem);
  -moz-transform: translateX(-2rem);
  -ms-transform: translateX(-2rem);
  -o-transform: translateX(-2rem);
  transition: all .2s ease-in;
  -webkit-transition: all .2s ease-in;
  -moz-transition: all .2s ease-in;
  -ms-transition: all .2s ease-in;
  -o-transition: all .2s ease-in;
}

.project-details {
  background: rgba(0, 0, 0, 0.75);
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  position: absolute;
  top: 1%;
  left: 0;
  right: 0;
  color: white;
  max-width: 0;
  max-height: fit-content;
  opacity: 0;
  z-index: 99;
}

.portfolio-item[data-opentwcard='true'] > .project-details {
  max-width: 100%;
  opacity: 1;
}

.project-img {
  mask-image: url('../img/cube.svg');
  /* mask-position: top; */
  mask-size: 3px 13px;
  margin: 0 auto;
  width: 50%;
  padding-top: 2rem;
  /* animation: project-mask 1s ease-in 3s forwards; */
  /* -webkit-animation: project-mask 1s ease-in 3s forwards; */
}

.project-description {
  padding: 3rem;
}



/*********************************************************
FOOTER STYLE
**********************************************************/

.social {
    display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0 auto;
	padding-bottom: .5rem;
	width: 100%;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social a {
    background-color: transparent;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    margin: .5rem;
    text-decoration: none;
    -webkit-transition: all 300ms ease-in;
    transition: all 300ms ease-in;
    z-index: 79;
  }
  
  .facebook {    
    display: inline-block;
    width: 25px;
    height: 25px;
    padding-top: 42px;
    background: url('../img/social/Facebook.svg') center no-repeat;
    background-size: 100%; 
    background-size: contain;
  }
  .insta {
    display: inline-block;
    height: 25px;
    width: 25px;
    padding-top: 42px;
    background: url('../img/social/Instagram.svg') center no-repeat;
    background-size: contain;
  }
  .youtube {
    display: inline-block;
    height: 25px;
    width: 25px;
    padding-top: 42px;
    background: url('../img/social/Youtube.svg') center no-repeat;
    background-size: contain;
  }
  .github {
    display: inline-block;
    height: 25px;
    width: 25px;
    padding-top: 42px;
    background: url('../img/social/41-github.svg') center no-repeat;
    background-size: contain;
  }

/*******************************************
  ANIMATION KEYFRAMES
*******************************************/
 
@keyframes blinds {
  0% {
    /* opacity: 0; */
    transform: rotateY(0);
    background-size: 5%;
  }

  100% {
    transform: rotateY(-40deg);
    background-size: 50%;
  }
}

@keyframes project-mask {
  0% {
    background: url("../img/IMG_1840.jpg") bottom no-repeat,#d4d4d4;
    transform: skew(0);
    mask-size: 2px 6px;
    -webkit-transform: skew(0);
    -moz-transform: skew(0);
    -ms-transform: skew(0);
    -o-transform: skew(0);
}
  1% {
    background: linear-gradient(to left, rgb(18, 31, 207, 0.3) 0%, rgb(0, 255, 0, 0.3) 53%, rgb(207, 21, 18, 0.5) 97%), #d4d4d4;
    transform:translateY(-2rem);
    -webkit-transform:translateY(-2rem);
    -moz-transform:translateY(-2rem);
    -ms-transform:translateY(-2rem);
    -o-transform:translateY(-2rem);
}
  2% {
    background: url("../img/IMG_1840.jpg") bottom no-repeat,#d4d4d4;
    background-size: contain;
    transform: translateY(0) skew(-10deg, 0) rotateY(90deg);
    -webkit-transform: translateY(0) skew(-10deg, 0) rotateY(90deg);
    -moz-transform: translateY(0) skew(-10deg, 0) rotateY(90deg);
    -ms-transform: translateY(0) skew(-10deg, 0) rotateY(90deg);
    -o-transform: translateY(0) skew(-10deg, 0) rotateY(90deg);
}
  3% {
    transform: skew(0,0) rotateY(0);
    -webkit-transform: skew(0,0) rotateY(0);
    -moz-transform: skew(0,0) rotateY(0);
    -ms-transform: skew(0,0) rotateY(0);
    -o-transform: skew(0,0) rotateY(0);
}
  8% {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
}
  9% {
    background: linear-gradient(to left, rgb(18, 31, 207, 0.3) 0%, rgb(0, 255, 0, 0.3) 53%, rgb(207, 21, 18, 0.5) 97%), url("../img/IMG_1840.jpg") bottom no-repeat,#d4d4d4; 
    transform: translate(-5rem, 1rem);
    -webkit-transform: translate(-5rem, 1rem);
    -moz-transform: translate(-5rem, 1rem);
    -ms-transform: translate(-5rem, 1rem);
    -o-transform: translate(-5rem, 1rem);
}
  10% {
    background: url("../img/IMG_1840.jpg") bottom no-repeat,#d4d4d4;
    background-size: contain;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
}
  11% {
  transform: skew(0) translateY(0);
  -webkit-transform: skew(0) translateY(0);
  -moz-transform: skew(0) translateY(0);
  -ms-transform: skew(0) translateY(0);
  -o-transform: skew(0) translateY(0);
}
  12% {
    transform: translateY(0);
    mask-size: 1px 1px;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
}
100% {
  background: url("../img/IMG_1840.jpg") bottom no-repeat,#d4d4d4;
  background-size: contain;
  mask-size: 1px 1px;
  transform: skew(0);
  -webkit-transform: skew(0);
  -moz-transform: skew(0);
  -ms-transform: skew(0);
  -o-transform: skew(0);
}
}
@keyframes feedback {
  0%, 4%, 9% {
    mask-size: 1px 1px;
    background: url('../img/glitch-color-selfie.png') bottom no-repeat,#d4d4d4;
    transform: skew(1deg, -2deg);
    background-size: contain;
  }
  1% ,5%, 8%{
    
    transform: skew(-2deg, 0) translateX(1rem);
    
  }
  2%, 6% {
    transform: skew(2deg, 1deg) translateX(-1rem);
  }
  3%, 7% {
    transform: skew(-1deg, -3deg) translateX(-2rem);
  }
  5%,10% {
    mask-size: 10px 13px;
  }
  11% {
    mask-size: 1px 1px;
    transform: skew(0);
    background: url("../img/IMG_1840.jpg") bottom no-repeat,#d4d4d4;
  background-size: contain;
  }
  
}

.crt::after {
	content: " ";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: rgba(18, 16, 16, 0.1);
	opacity: 0;
	z-index: 2;
	pointer-events: none;
	/* animation: flicker 0.15s infinite; */
  }
  .crt::before {
	content: " ";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
	z-index: 2;
	background-size: 100% 4px, 3px 100%;
	pointer-events: none;
  }
  .crt {
	animation: textShadow 1.6s infinite;
  }



  @keyframes track {

    40% {
          opacity:0.5;
          top:0;
          left:0;
          transform: skew(0,0), scale(1,1);
          -webkit-transform: skew(0,0), scale(1,1);
          -moz-transform: skew(0,0), scale(1,1);
          -ms-transform: skew(0,0), scale(1,1);
          -o-transform: skew(0,0), scale(1,1);
}
    41% {
          opacity:0.3;
          top:0px;
          left:-100px;
          transform:scale(1,1.2), skew(10deg,0), rotateY(40deg);
          -webkit-transform:scale(1,1.2), skew(10deg,0), rotateY(40deg);
          -moz-transform:scale(1,1.2), skew(10deg,0), rotateY(40deg);
          -ms-transform:scale(1,1.2), skew(10deg,0), rotateY(40deg);
          -o-transform:scale(1,1.2), skew(10deg,0), rotateY(40deg);
}
    42% {
          opacity:0.3;
          top:0px;
          left:100px;
          transform:scale(1,1.2) rotateY(40deg) skew(-10deg,0);;
          -webkit-transform:scale(1,1.2) rotateY(40deg) ;
          -moz-transform:scale(1,1.2) rotateY(40deg) ;
          -ms-transform:scale(1,1.2) rotateY(40deg) ;
          -o-transform:scale(1,1.2) rotateY(40deg) ;
}
    43% {
      background-repeat: repeat;
      background-size: 10%;
          opacity:0.5;
          top:0;
          left:0;
          transform:scale(.4,1) rotateY(40deg);
          transform:skew(0,5deg) rotateY(40deg);
          -webkit-transform:skew(0,5deg) rotateY(40deg);
          -moz-transform:skew(0,5deg) rotateY(40deg);
          -ms-transform:skew(0,5deg) rotateY(40deg);
          -o-transform:skew(0,5deg) rotateY(40deg);
}
  }

/*******************************************
  MEDIA QUERIES
*******************************************/

@media screen and ( min-width: 625px ) {

  .name {
    left: 1rem;
    width: 50%;

  }

  .menu-show {
    width: 50%;
  }

  /* .js,
  .react,
  .node {
    width: 8em;
    height: 7rem;
 
} */

  .about-card {
    right: 0;
    z-index: -97;
    width: auto;
    /* margin-right: 2rem; */
    height: auto;
    padding: 1rem 1rem;
  }

  .headline-wrapper {
    justify-content: right;
  }

  .about-card[data-openWebCard="true"][style],
  .about-card[data-openUXCard="true"][style],
  .about-card[data-openBackCard="true"][style] {
    max-width: 500px;
    font-size: 1.7rem;
    height: fit-content;
    left: 10%;
    right: 10%;
  }

  .about-card[data-openwebcard="true"] > .headline-wrapper svg,
  .about-card[data-openuxcard="true"] >  .headline-wrapper svg,
  .about-card[data-openbackcard="true"] > .headline-wrapper svg {
    /* width: 7rem;
    height: 7rem; */
  }

}